{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/logger.css' %}">
        <title>Datalogger</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">SPI Datalogger</a></h1>
        </div>
        <div>
            <h2 class = "frontpage-header"><a href="logger/form/">New Logger</a></h2>
            <h2 class = "frontpage-header"><a href="admin/logger/logger/">Edit Logger</a></h2>
            <h2 class = "frontpage-header"><a href="logger/time/">Time</a></h2>
            <h2 class = "frontpage-header"><a href="logger/upload/">Upload Files</a></h2>
            <h2 class = "frontpage-header"><a href="logger/files/">Logger Files(.csv)</a></h2>
            <p style = "clear:both"></p>
        </div>
            <div id ="status">
                <p>
                    <h3>Status: <h3 id = "status-bar">{{status.current}}</h3></h3>
                </p>
                <h1>Current Logging Settings</h1>
            <ul>
                <li>Baudrate: {{temp.baudrate}} </li>
                <li>Filename: {{temp.filename}} </li>
                <li>Update Rate: {{temp.update_rate}} </li>
                <li>Dataport: {{temp.dataport}} </li>
                <li>Timeout: {{temp.timeout}} </li>
            </ul>
            <form action = "" method ="post">
            {% csrf_token %}
            <input type = "submit" class = "button-stop" value = "Stop" name = "stop" > <!-- onClick = "alert('Logging stopped'); return true"/> -->
            </form>
        </div>
       
           <!-- <div> 
        <h1>Logging History</h1>
            <ul>
                {% for x in post %}
                    <li><h4>{{ x }}</h4></li>
                {% endfor %}
            </ul>
            </div> -->
    </body>
</html>

<!--

            <h2>eyyyyyy</h2>
            <strong>hellllo</strong>
-->

