{% load staticfiles %}
<html>
    <head>
        <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/pageheader-modifier.js' %}"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/logger.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16" />
        <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32" />
        <title>Datalogger Upload</title>
    </head>
    <body>
        <div class = "page-header"> 
            <div id = "spectrum-logo">
                <a href = "/"><img src = "{% static 'SPECTRUM-LOGO.png' %}" /></a>
            </div>
            <div>
            
                <h2 class = "frontpage-header1"><a href="/logger/CSV_form/">New Logger</a></h2>
            </div>
            <div>
                <h2 class = "frontpage-header2"><a href="/logger/upload/">Upload Files</a></h2>
            </div>
            <div>
                <h2 class = "frontpage-header3"><a href="/logger/files/">Logger Files</a></h2>
            </div>
            <div>
                <h2 class = "frontpage-header4"><a href="/admin/logger/logger/">Logger History</a></h2>
            </div>
            <p style = "clear:both"></p>
        </div>
        <div id = "status">
            <h1 id = "page-title">Upload Files to the Datalogger</h1>
            <form action = "" method = "post" enctype = "multipart/form-data">
                {% csrf_token %}
                <pre id = "upload-file">
                    <p>{{fileform.doc_file.label_tag}} {{fileform.doc_file.help_text}}</p>
                    <p>
                        {{fileform.doc_file}}
                    </p>
                    <p><input name = "file-upload" class = "button-start" type ="submit" value = "Upload"/></p>
                </pre>
            </form>
        </div>
    </body>
</html>

