{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/logger.css' %}">
        <title>Datalogger</title>
    </head>
    <body>
        <div class = "page-header"> 
            <h1><a href="/">Upload Files to the Datalogger</a></h1>
        </div>
        <div>
            <h2 class = "frontpage-header"><a href="/logger/form/">New Logger</a></h2>
            <h2 class = "frontpage-header"><a href="/logger/upload/">Upload Files</a></h2>
            <h2 class = "frontpage-header"><a href="/logger/files/">Logger Files</a></h2>
            <h2 class = "frontpage-header"><a href="/admin/logger/logger/">Logger History</a></h2>
            <p style = "clear:both"></p>
        </div>
        <div id = "status">
        <h1>File Upload</h2>
            <form action = "" method = "post" enctype = "multipart/form-data">
                {% csrf_token %}
                <pre id = "upload-file">
                    <p>{{fileform.non_field_errors}}</p>
                    <p>{{fileform.doc_file.label_tag}} {{fileform.doc_file.help_text}}</p>
                    <p>
                        {{fileform.doc_file.errors}}
                        {{fileform.doc_file}}
                    </p>
                    <p><input name = "file-upload" class = "button-start" type ="submit" value = "Upload" /></p>
                </pre>
            </form>
        </div>
    </body>
</html>

