<!DOCTYPE html> 
{% load staticfiles %}
<html>
    <head>
        <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/pageheader-modifier.js' %}"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/logger.css' %}">
        <title>Datalogger Files</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16" />
        <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <body>
        <div class = "page-header"> 
            <div id = "spectrum-logo">
                <a href = "/"><img src = "{% static 'SPECTRUM-LOGO.png' %}" /></a>
            </div>
                <div>
                    <h2 class = "frontpage-header1"><a href="/logger/CSV_form/">New Logger</a></h2>
                </div>
                <div>
                    <h2 class = "frontpage-header2"><a href="/logger/upload/">Upload Files</a></h2>
                </div>
                <div>
                    <h2 class = "frontpage-header3" id = "header-color3"><a href="/logger/files/">Logger Files</a></h2>
                </div>
                <div>
                    <h2 class = "frontpage-header4"><a href="/admin/logger/logger/">Logger History</a></h2>
                </div>
                <p style = "clear:both"></p>
        </div>
        <div id = "status">
            <h1 id = "page-title">Datalogger Files</h1> 
            <form action = "" method = "post">
                {% csrf_token %}
                <input type = "submit" class = "button-download-all" value = "Download All Files" name = "download-all" />
            </form>
            <div id = "file-list">
            <h2>Download or Delete Individual Files</h2>
                {% for file in files %}
                    <form action = "" method ="post">
                    {% csrf_token %} 
                        <input type = "submit" class = "button-delete-single" value = "X" name = 'delete-single-csv' />
                        <input type = "hidden" name = {{file}} />
                        <a href="{{file}}">{{file}}</a>
                    </form>
                {% endfor %}
            </div>
        </div>
    </body>
</html>


