{% load staticfiles %}
<html>
    <head>
        <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/pageheader-modifier.js' %}"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/logger.css' %}">
        <title>Datalogger</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16" />
        <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32" />
    </head>
    <body>
        <div class = "page-header"> 
            <h1><a href="/">Datalogger Files</a></h1> 
            <div id = "spectrum-logo">
                <img src = "{% static 'SPECTRUM-LOGO.png' %}" />
            </div>
        </div>
            <h2 class = "frontpage-header" onclick = "getclick(this);"><a href="/logger/CSV_form/">New Logger</a></h2>
            <h2 class = "frontpage-header" onclick = "getclick(this);"><a href="/logger/upload/">Upload Files</a></h2>
            <h2 class = "frontpage-header" onclick = "getclick(this);"><a href="/logger/files/">Logger Files</a></h2>
            <h2 class = "frontpage-header" onclick = "getclick(this);"><a href="/admin/logger/logger/">Logger History</a></h2>
            <p style = "clear:both"></p>
        <div id = "download-section">
            <form action = "" method = "post">
                {% csrf_token %}
                <input type = "submit" class = "button-download-all" value = "Download All Files" name = "download-all" />
            </form>
        <div>
            <h2>Download or Delete Individual Files</h2>
            {% for file in files %}
            <div id = "file-list">
                <form action = "" method ="post">
                {% csrf_token %} 
                <input type = "submit" class = "button-delete-single" value = "X" name = 'delete-single-csv' />
                <input type = "hidden" name = {{file}} />
                <a href="{{file}}">{{file}}</a>
                </form>
            </div>
            {% endfor %}
        </div>
        </div>
    </body>
</html>


