.page-header {
    text-decoration:none;
    font-size:30pt;
    /* background-color:#999999; */
    background-color:#696969;
    padding: 44px 10px 5px 25px;
    margin: -14px 0px;
    width:100%;
    position:fixed;
    z-index:6;
}

#page-title {
    color: #008B8B;
}
#page-title:hover {
    color:#87CEFA;
    text-decoration:none;
}
#file-list a:hover {
    text-decoration:none;
    color:#660000;
}
#file-list a {
    font-size: 12pt;
}
.button-stop{
    cursor: pointer;
    text-decoration: none;
    background-color: #F44336;
    border: none;
    color: white;
    text-align:center;
    display:inline-block;
    font-size: 16px;
    padding: 15px 32px;
    margin: 4px 2px;
    border-radius: 12px;
}
.button-start:hover {
    background-color: #3E8E41;
}
.button-stop:hover {
    background-color: #B22222;
}
.button-download-all {
    cursor: pointer;
    text-decoration: none;
    background-color: #6495ED;
    border: none;
    color: white;
    text-align:center;
    display:inline-block;
    font-size: 16px;
    padding: 15px 32px;
    margin: 4px 0px;
    border-radius: 12px;
}
.button-delete-single {
    cursor: pointer;
    text-decoration: none;
    background-color: red;
    border: none;
    color: white;
    font-size:12px;
    text-align:center;
    display:inline-block;
    padding: 2px 15px;
    margin: -11px 4px;
    border-radius: 12px;
}
.button-start {
    cursor: pointer;
    text-decoration: none;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align:center;
    display:inline-block;
    font-size: 16px;
    padding: 15px 32px;
    margin: 4px 2px;
    border-radius: 12px;
}
#status {
    display:inline-block;
    margin: 50px 30px;
    padding: 0px 0px 30px;
}
#status-bar {
    color: #20B2AA;
    margin: -36px 81px -3px;
    position:relative;
}
#spectrum-logo {
    margin-left:-1.25%;
    margin-top:-3.1%; 
    position:fixed; 
}
body {
   /* background-color: #FBF3E9; */
    background-color: #F2F2F2;
}
.formdata {
    margin: -440px 660px;
    padding: 15px 32px;
    width:22%;
    text-align:center;
}

#upload-file {
    background-color:#D3D3D3;
    padding: 0px 20px 0px 15px;
    position: relative;
}


#logger-settings {
    float:left;
    width:30%;
    margin:-270px 0 0 0;
}
#history {
    float:right;
    width:80%;
    margin:-270px -500px 0 0;
}

.frontpage-header1 {
    margin-bottom:0px;
    padding: 10px; 
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16pt;
    cursor: pointer;
    float:left;
    position:fixed;
    margin-left:5%;
    margin-top:-2.3%;
}

.frontpage-header2 {
    color:#FFFFFF;
    margin-bottom:0px;
    padding: 10px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16pt;
    cursor: pointer;
    float:left;
    position:fixed;
    margin-left:15.6%;
    margin-top:-2.3%;
}
.frontpage-header3 {
    color:#FFFFFF;
    margin-bottom:0px;
    padding: 10px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16pt;
    cursor: pointer;
    float:left;
    position:fixed;
    margin-left:26.5%;
    margin-top:-2.3%;
}
.frontpage-header4 {
    color:#FFFFFF;
    margin-bottom:0px;
    padding: 10px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16pt;
    cursor: pointer;
    float:left;
    position:fixed;
    margin-left:37.25%;
    margin-top:-2.3%;
}
.frontpage-header1:hover, .frontpage-header2:hover, .frontpage-header3:hover, .frontpage-header4:hover {
    text-decoration: none;
    background-color: #333333;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}
.page-header a {
    color: white;
    text-decoration: none;
}
.page-header a:hover {
    color: white;
}


/*
.frontpage-header1.active {
    background-color: #4ACF50;
}
.frontpage-header2.active {
    background-color: #4ACF50;
}
.frontpage-header3.active {
    background-color: #4ACF50;
}
.frontpage-header4.active {
    background-color: #4ACF50;
}
*/
