.page-header {
    background-color: #155E8F;
    margin-top: 0;
    margin-left: -15;
    padding: 20px 40px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.page-header h1 a:hover {
    color:#3366FF;
    text-decoration:none;
}

a {
    margin-left:10px;
}

#file-list a:hover {
    text-decoration:none;
    color:#660000;
}
#file-list a {
    font-size: 16pt;
}



'''
h2 a {
    color: #3396E8;
}

body{
    padding-left: 15px;
}

h3 {
    color: #945A18;
}
'''
